body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(54, 54, 54);
    height: 100%;
}
nav{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 50px;
}
main{
    border: 2px solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: 25vh;
    max-width: 500px;
    margin:auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
input{
    border: none;
    margin: 10px;
    padding: 10px;
    max-width: 150px;
    text-align: left;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid black;
}
#calcular{
    color: white;
    cursor: pointer;
    border: none;
    padding: 20px;
    margin: 10px;
    background-color: rgb(32, 124, 59);
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid black;
}
#calcular:hover{
    background-color: rgb(34, 194, 82);
    transition: all 500ms;
}
#calcular:not(:hover){
    transition: all 500ms;
}
#limpar{
    color: white;
    cursor: pointer;
    border: none;
    padding: 20px;
    margin: 10px;
    background-color: rgb(124, 32, 32);
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid black;
}
#limpar:hover{
    background-color: rgb(211, 20, 20);
    transition: all 500ms;
}
#limpar:not(:hover){
    transition: all 500ms;
}
#aprovado, #reprovado{
    position: relative;
}
hr{
    margin-top: 25px;
}
footer{
    background-color: rgb(37, 37, 37);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    text-align: center;
}